
body{
  width:100%;
  font-family: Mission Script;
}
.cont{
  width:50%;
  margin-left:30%;
  margin-right: 30%;
  border:1px solid black;
 /* padding-top: 20%*/
}


#menu >p{
 border:1px solid black;
  display:inline-block;
}
.nav>div{
  display:inline-block;

}
.life{
  width:26%;
   padding-bottom: 4%;
}

.log{
  position:absolute;
  left:48%;
  width:9%;
  top:0%;

}
.use, .shopp, .search{
  position:relative;
  left:41%;
  padding-bottom: 9%;

}
.rect{
  width:5%;
   height:2%;
   position:absolute;
   left:71%;
  top:2%;
}

.use, .shopp, .search{
  width:4%;
}

#menu{
  width:100%;
  color: black;
  font-size: 18px;
  text-decoration: none;
   padding-top:5%;
}
.acc, .recet, .shop, .avis{
  display:inline-block;
  border:1px solid black;
  width:23%;
  text-align:center;
  text-decoration: none;
 color: black;
}
.choc{
width:195%;
position:relative;


}
.chocho, #para{
  display:inline-block;
}
#para{
  width:52%;
  font-size: 189%;
  padding-left: 10%;

}
.prod{
  position:relative;
  left:16%;
  padding-top: 4%;
  width:62%;
}
.lactose, .gluten, .food{
  width:8%;
  position:relative;
  left:34%;
}

 .coeur{
  position: absolute;
  left:50%;
top:64%;
}

h1{
  padding-left: 10%;

font-size: 31px;
}
.footer{
  width:50%;
  padding-left: 30%
}
.prof{
  padding-left:15%;
  width:68%;
}
form{
  width:15%;
  height:15%;
  position:relative;
  left:10%;

}
@media screen and (max-width: 375px){
  .acc, .recet, .shop, .avis{
    width:100%;
  }
  footer{
    display:none;
  }
  .coeur, .choc{
    display:none;
  }
}
