
body{
  width:100%;
}
.cont{
  width:50%;
  margin-left:30%;
  margin-right: 30%;
}


#menu >p{

  border:1px solid black;
  display:inline-block;
}
.nav>div{
  display:inline-block;

}
.life{
  width:26%;
   padding-bottom: 4%;
}

.log{
  position:absolute;
  left:48%;
  width:9%;
  top:0%;

}
.use, .shopp, .search{
  position:relative;
  left:41%;
  padding-bottom: 9%;

}
.rect{
  width:5%;
   height:2%;
   position:absolute;
   left:71%;
  top:2%;
}

.use, .shopp, .search{
  width:4%;
}

#menu{
  width:100%;


}
a{
  display:inline-block;
  border:1px solid black;
  width:23%;
  text-align:center;
 font-family:
}
choc{
width:5%;
height:5%;
}
.chocho, #para{
  display:inline-block;
}
#para{
  width:44%;
  font-family: Mission Script;

}
.prod{
  position:relative;
  left:14%;
  padding-top: 4%
}
.lactose, .gluten, .food{
  width:8%;
  position:relative;
  left:34%;
}

 .coeur{
  position: absolute;
  left:49%;
top:68%;
}
