body{
  width:100%;
}
.cont{
  width:50%;
  margin-left:30%;
  margin-right: 30%;
}

#menu >p{

  border:1px solid black;
  display:inline-block;
}
.nav>div{
  display:inline-block;

}
#log{
  width:15%;

}
.log{
  position:relative;
  left:10%;
  width:10%;
}
.use, .shopp, .search, .rect{
  position:relative;
  left:24%;
}
.use, .shopp, .search{
  width:7%;
}

#menu{
  width:100%;
}
.acc, .shop, .recet, .avis
{
  width:23%;
  text-align:center;
}
.choc{
width:5%;
height:5%;
}
#para{
  width:10%;
  height:10%;
}
